/*
https://github.com/Alexays/Waybar/wiki/Styling
env GTK_DEBUG=interactive waybar
*/
* {
    font-size: 11px;
    font-family: monospace;
    /* font-weight: bold; */
}

window#waybar {
    background: rgba(22, 22, 22, 0.9);;
    color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
}
#workspaces {
    margin-right: 10px;
}
#workspaces button {
    padding: 0 12px;
    color: #fdf6e3;
    border-radius: 0;
    animation: none;
    border: none;
    box-shadow: none;
}
#workspaces button.focused {
    background-color: #333;
}
#workspaces button:hover {
    background: #555;
    border: none;
    animation: none;
    box-shadow: none;
}

#pulseaudio {
    /* color: #265bFF; */
}
#memory {
    /* color: #1aB198; */
}
#cpu {
    /* color: #98F; */
}
#battery {
}
#battery.charging {
    color: rgb(0, 255, 98);
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#disk {
    color: #FF2900;
}
#network.disconnected {
    color: #FF2900;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#backlight,
#tray,
#disk {
    padding: 0 12px;
    /*background-color: red;*/
    font-weight: bold;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.Brave #window {
    color: blue;
    background: red;
}

#idle_inhibitor.activated {
    color: #F59900;
}